<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ku.collection">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.KuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContentProviderActivity"
            android:label="@string/title_activity_content_provider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IOActivity"
            android:label="@string/title_activity_io">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VPNActivity"
            android:label="@string/title_activity_vpn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WidgetActivity"
            android:label="@string/title_activity_widget">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graphic.OpenGLActivity"
            android:label="@string/title_activity_opengl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EmulatorDetectorActivity"
            android:label="@string/title_activity_ed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".net.TcpActivity"
            android:label="@string/title_activity_tcp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SensorActivity"
            android:label="@string/title_activity_sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EarphoneActivity"
            android:label="@string/title_activity_earphone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.ActivityTransition"
            android:label="@string/title_activity_transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animation.ActivityTransitionDetail"
            android:label="@string/title_activity_transition_detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CardViewActivity"
            android:label="@string/title_activity_cardView"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RetrofitActivity"
            android:label="@string/title_activity_retrofit"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.TEST" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.MediaButtonReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>